.titulo-acero {
    border-top: 4px solid gray;
    width: 100%;
    margin-top: 1rem;
}

.titulo-acero>h1 {
    max-width: 100%;
    padding-top: 1rem;
    color: #435698;
    text-align: center;
    font-size: 45px;
    font-family: Poppins;
}


.img-contenedor{
    display: flex;
    width: 100%;
    margin: 0 auto;
    justify-content: space-around;
    padding-top: 3rem;
    
}

.img-contenedor figure{
    width: 16%;
    margin-top: 2rem;
}

.img-contenedor figure img {
    max-width: 100%;
    box-shadow: 0 0 20px 0 black;
    border-radius: 1rem;
    transition: ease all .5s;
}

.img-contenedor figure img:hover {
    transform: scale(1.1);
    transition: ease all .5s;
}

.img-contenedor figure h4{
    font-size: 25px;
    margin-top: 1rem;
    color: gray;
    text-align: center;
}

@media screen and (max-width : 1025px) {
    
    .img-contenedor>figure>h4 {
        font-size: 19px;
    }
}


@media screen and (max-width : 431px) {

    .img-contenedor {
        flex-direction: column;
    }

    .img-contenedor>figure {
        width: 70%;
        margin: 0 auto;
        margin-bottom: 2rem;
    }

    


}
