@import url('https://fonts.googleapis.com/css2?family=Anta&family=Bebas+Neue&family=Dancing+Script:wght@400..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Protest+Guerrilla&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Sacramento&display=swap');


.texto-bandas {
    margin-top: -1rem;
}

.section-nonw-phone{
    display: none;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
}

.section-bandas {
    width: 100%;
}

.cont-arriba {
    width: 100%;
    margin: 0 auto;
}

.texto-img {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #e2e2e2;
}

.texto-img>p {
    font-size: 18px;
}

.texto-img p,
img {
    width: 40%;
}

.titulo {
    border-top: 4px solid gray;
}

.titulo>h1 {
    margin-left: 4.9%;
    margin-top: 1%;
    width: 90%;
}

.section-nonw, .section-nonw2 {
    width: 98%;
    display: flex;
    margin: 0 auto;
    padding-left: 4%;
    padding-top: 2%;
}

.section-lijas {
    width: 98%;
    display: flex;
    margin: 0 auto;
    padding-left: 4%;
    padding-top: 2%;
}

.linea-griss {
    width: 100%;
    border-bottom: 2px solid gray;
    margin-top: 2rem;
}

.titulo-bandas {
    width: 55%;
    display: flex;
    flex-direction: column;


}

.titulo-bandas>h2 {
    color: #435698;
    width: 100%;
}

.titulo-bandas>p {
    padding-top: 1%;
    font-size: 18px;
    width: 70%;
}

.div-img-maquinas {
    width: 40%;
    margin-top: 1%;
    display: flex;
    justify-content: space-between;
}

.img-maquinas {
    width: 7rem;
}


.satinadora-div-img {
    width: 30%;
    margin-left: 1rem;
}

.limpiador-img {
    width: 100%;
    box-shadow: 0 0 20px 0 black;
}

.limpiador-img2 {
    width: 70%;
    box-shadow: 0 0 20px 0 black;
}

.section-cuadros {
    width: 100%;
}

.container-cuadros {
    width: 100%;
    padding-top: 2%;
    display: flex;
}

.cuadroNW {
    margin-right: 4%;
    margin-left: 5%;
    width: 21rem;
}

.cuadroNW2 {
    width: 25rem;
}

.section-bandas2 {
    margin-top: 4%;
    border-top: 1px solid gray;
}

.titulo-lija {
    margin-left: 4.9%;
    margin-top: 1%;
    width: 90%;
}

.container-cuadros-combinados {
    padding-top: 2%;
}

.container-cuadros-combinados>p {
    margin-left: 5.4%;
    padding-top: 2%;
    color: gray;
    font-weight: 100;
}

.cuadro-combinado {
    margin-left: 5%;
    margin-right: 3.3%;
}

.antiadherente-cuadro {
    margin-left: 4.5rem;
    width: 50%;
}

.antiadherente-cuadro>img {
    width: 28rem;
}

.antiadherente-cuadro2 {
    width: 28rem;
    margin-top: 1.5rem;
}


.section-nonw {
    width: 100%;
}

@media only screen and (max-width : 1440px) {

    .texto-img {
        width: 100%;
    }

    .texto-img>p {
        font-size: 17px;
        padding: 1rem;
        width: 80%;
        margin-left: 2.3rem;
    }

    .titulo-bandas>p {
        font-size: 17px;
    }

    .antiadherente-cuadro {
        margin-left: 4%;
        margin-top: 2rem;
    }

    .antiadherente-cuadro>img {
        width: 24rem;
    }

    .antiadherente-cuadro2 {
        width: 24rem;
    }

    .titulo>h1 {
        margin-left: 4%;
    }

}

@media screen and (max-width : 1025px) {

    .texto-img p {
        margin-left: 1.5rem;
    }

    .limpiador-img{
        margin-top: 4rem;
    }

    .limpiador-img2{
        margin-top: 4rem;
    }


}

@media screen and (max-width : 431px) {

    .titulo>h1 {
        font-size: 25px;
    }

    .texto-img {
        background-color: white;
    }

    .texto-img>p {
        margin: 0;
        width: 100%;
    }

    .texto-img>img {
        display: none;
    }

    .section-nonw {
        flex-direction: column;
        padding: 0;
        margin: 0;
    }

    .section-nonw-phone {
        display: block;
    }

    .titulo-bandas{
        width: 100%;
        margin:0;
        padding: 1rem;
    }

    .titulo-bandas>p {
        width: 100%;
    }

    .limpiador-img{
        width: 96%;
        margin: 0;
    }

    .antiadherente-cuadro {
        margin: 0;
        width: 100%;
        max-width: 100%;
        margin-top: 2rem;
        display: flex;
        justify-content: center;
    }

    .antiadherente-cuadro>img {
        width: 100%;
        max-width: 100%;
        padding: .4rem;
    }
    
    .section-nonw2 {
        display: none;
    }

    .satinadora-div-img {
        width: 100%;
        max-width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0;
    }

    .limpiador-img2{
        width: 16rem;
        margin: 0;
    }

    .antiadherente-cuadro2 {
        width: 100%;
        max-width: 100%;
        padding: .4rem;
    }

}

