@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');



.texto-bandas {
    margin-top: -1rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
}

.section-bandas {
    width: 100%;
}

.cont-arriba {
    width: 100%;
    margin: 0 auto;
}

.texto-img {
    width: 100%;
    background-color: #e2e2e2;
}

.texto-img>p {
    font-size: 18px;
    width: 50%;
    margin: 0;
    margin-left: 2.5%;
    padding: 1rem;
}


.titulo {
    border-top: 4px solid gray;
}

.titulo>h1 {
    margin-left: 3.6%;
    margin-top: 1%;
    width: max-content;
}

.section-nonw {
    width: 98%;
    display: flex;
    margin: 0 auto;
    padding-left: 4%;
    padding-top: 2%;
}

.section-nonw1 {
    width: 100%;
    padding-left: 5%;
    margin-top: 4rem;
}

.section-lijas {
    width: 100%;
    max-width: 100%;
    display: flex;
    margin: 0 auto;
    padding-left: 4%;
}

.titulo-bandas {
    width: 55%;
    display: flex;
    flex-direction: column;
}

.titulo-bandas2 {
    width: 55%;
    display: flex;
    flex-direction: column;
}

.titulo-bandas2>h2 {
    color: #435698;
}

.titulo-bandas2>h4 {
    padding-top: 1rem;
    width: 40rem;
}

.titulo-bandas2>p {
    padding-top: 1%;
    font-size: 18px;
    width: 70%;
}

.titulo-bandas h2 {
    color: #435698;
}

.titulo-bandas>h3 {
    font-size: 26px;
    padding-top: 1rem;
}

.titulo-bandas>h4 {
    padding-top: 1rem;
    margin-top: 4rem;
    width: 40rem;
    border-top: 1px solid black;
}

.texto-bandas {
    padding-top: 1%;
    font-size: 18px;
    width: 70%;
}

.titulo-bandas3 {
    width: 65%;
    display: flex;
    flex-direction: column;
}

.titulo-bandas3>h2 {
    color: #435698;
}

.titulo-bandas3>h4 {
    padding-top: 1rem;
    width: 40rem;
}

.titulo-bandas3>p {
    padding-top: 1%;
    font-size: 18px;
    width: 70%;
}

.div-img-maquinas {
    width: 40%;
    margin-top: 1%;
    display: flex;
    justify-content: space-between;
}

.img-maquinas {
    width: 7rem;
}


.satinadora-div-img {
    width: 38%;
    padding-top: 10%;

}

.satinadora-img {
    width: 85%;
    margin-top: 4rem;
    box-shadow: 0 0 20px 0 black;
}

.section-cuadros {
    width: 100%;
}

.container-cuadros {
    width: 100%;
    padding-top: 2%;
    display: flex;
}

.cuadroNW {
    margin-right: 4%;
    margin-left: 5%;
}

.section-bandas2 {
    margin-top: 2%;
}

.titulo-lija {
    margin-left: 4.9%;
    margin-top: 1%;
    width: 90%;
}

.container-cuadros-combinados {
    padding-top: 2%;
}

.container-cuadros-combinados p {
    margin-left: 5.4%;
    padding-top: 2%;
    color: gray;
    font-weight: 100;
}

.cuadro-combinado {
    margin-left: 5%;
    margin-right: 3.3%;
}

.cuadro-bandas {
    display: flex;
    flex-direction: column;
}

.conversion-span {
    margin-left: 5.5rem;
    color: gray;
}

.cuadro-img {
    width: 30%;
    margin-left: 5.5rem;
    margin-top: 2rem;
}

.cuadros-lijas {
    width: 32rem;
    margin-top: 1rem;
}

.cuadrodelija {
    width: 50%;
    margin-left: 5rem;
    margin-top: 4rem;
}

.conteiner-cuadro-img {
    display: flex;
    justify-content: space-between;
    width: 120%
}

.img-zirconio {
    width: 20%;
    
}

.satinadora-img2 {
    width: 25rem;
}

.cuadro-bandas2 {
    display: flex;
    flex-direction: column;
}

.cuadro-img2 {
    width: 35rem;
}

.granos {
    display: flex;
    width: 100%;
}

.granos>img {
    width: 10rem;
}

.granos-textos {
    width: 80%;
    margin-right: 10rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.section-nonw-phone {
    display: none;
}

.section-lijas-phone {
    display: none;
}



@media screen and (max-width : 1440px) {

    .texto-img>p {
        font-size: 17px;
    }

    .titulo-bandas3>p {
        font-size: 17px;
    }

    .granos-textos>p {
        font-size: 17px;
    }

    .titulo-bandas2>p {
        font-size: 17px;
    }

    .satinadora-img2 {
        width: 35%;
        margin-left: 10rem;
        margin-top: 8rem;
    }

    .cuadro-img {
        width: 23rem;
        margin-left: 5%;
    }

    .cuadro-img2 {
        width: 23rem;
    }

    .granos>img {
        width: 8rem;
    }

    .texto-bandas {
        font-size: 17px;
        margin-top: .5rem;
    }

}

@media screen and (max-width : 1025px) {

    .texto-img p {
        width: 80%;
    }

    .img-zirconio {
        height: 60%;
        width: 40%;
        padding-left: 5rem;
    }


    .cuadrodelija {
        margin-left: 3rem;
    }
}

@media screen and (max-width : 431px) {

    .titulo>h1 {
        margin: 0;
        margin-left: .5rem;
        margin-top: 1rem;
        padding: 0;
    }

    .texto-img {
        background-color: white;
    }

    .texto-img>p {
        width: 97%;
        max-width: 99%;
        margin-left: .6rem;
        padding: 0;
    }

    .section-lijas {
        display: none;
    }

    .prueba, .prueba1 {
        display: flex;
        align-items: end;
        padding: .2rem;
        margin-top: 1.5rem;
    }

    .prueba {
        border-top: 1px solid black;
    }
    

    .section-lijas-phone {
        display: block;
    }

    .section-lijas-phone,
    .titulo-bandas {
        width: 100%;
        padding: 0;
        margin: 0;
    }

    .titulo-bandas h2,
    h3,
    h4 {
        margin-left: .3rem;
    }

    .titulo-bandas>h2 {
        font-size: 28px;
    }

    .titulo-bandas>h3 {
        font-size: 22px;
    }

    .texto-bandas {
        width: 80%;
        font-size: 16px;
        max-width: 99%;
        margin: 0;
        margin-left: .6rem;
        padding: 0;
    }

    .cuadros-lijas {
        width: 100%;
        margin: 0 auto;
        padding: .2rem;
        margin-top: 2rem;
    }

    .conteiner-cuadro-img {
        flex-direction: column-reverse;
        width: 100%;
        max-width: 100%;
    }

    .img-zirconio {
        padding: 0;
        width: 8rem;
        margin-top: 1rem;
        margin-bottom: 1rem;
        height: 10rem;
        margin-right: 1rem;
    }

    .granos {
        max-width: 100%;
        justify-content: space-between;
        align-items: end;
        margin-top: 2rem;
    }

    .granos-textos {
        width: 100%;
        margin-top: 2rem;
        margin: 0;
    }


    .granos-textos>p {
        width: 100%;
        max-width: 99%;
        margin: 0;
        margin-left: .6rem;
        padding: 0;
        font-size: 16px;
    }

    .granos>img {
        width: 25%;
        height: 20%;
        margin-right: 2rem;
    }

    .titulo-bandas>h4 {
        max-width: 99%;

    }

    .satinadora-img2 {
        margin: 0;
        padding: 0;
    }

    .cuadrodelija {
        display: none;
    }

    .section-nonw1 {
        margin: 0;
        padding: 0;
    }

    .cuadro-img {
        margin: 0;
        margin-top: 1rem;
        padding: 0;
    }

    .conversion-span {
        margin: 0;
        margin-left: .6rem;
        width: max-content;
    }

    .titulo-bandas3 {
        width: 100%;
    }

    .titulo-bandas3>h2 {
        margin-left: .6rem;
        margin-top: 1rem;
    }

    .titulo-bandas3>p {
        width: 97%;
        max-width: 99%;
        margin: 0;
        margin-left: .6rem;
        padding: 0;
    }

    .cuadro-img {
        width: 100%;
        padding: .4rem;
    }

    .titulo-bandas2 {
        width: 100%;
        margin: 0;
        padding: 0;
    }

    .section-nonw {
        display: none;
    }

    .section-nonw-phone {
        display: flex;
        margin: 0;
        padding: 0;
        flex-direction: column;
    }

    .titulo-bandas2-phone>h2 {
        margin-left: .6rem;
        margin-top: 2rem;
        color:#435698
    }

    .titulo-bandas2-phone>p {
        width: 97%;
        max-width: 99%;
        margin: 0;
        margin-left: .6rem;
        padding: 0;

    }

    .satinadora-img2-phone {
        width: 13rem;
    }

    .cuadro-img2-phone {
        width: 100%;
        padding: .4rem;
    }

    .ceramico{
        margin-top: 1rem;
    }
    
    
}