@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    font-family: "Roboto", sans-serif;
}

main {
    display: flex;
    width: 100%;
    justify-content: space-around;
    background-image: url('https://i.postimg.cc/nVTH5c90/foto-planisferio-36-11zon.webp');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 10px 0;
}

.div-fondo {
    position: absolute;
    margin-top: 10rem;
    width: 100%;
    max-width: 100%;
    z-index: -1;
}


.div-fondo2 {
    margin-top: 50rem;
}


.div-fondo img {
    width: 100%;
}


.titulo-form {
    width: 100%;
    border-top: 2px solid gray;
}


.titulo-form h1 {
    margin-left: 10.2rem;
    margin-top: 3rem;
}


.titulo-form span {
    color: #45a;
}


form {
    width: 40%;
    font-size: 20px;
    margin-top: 1rem;
    padding: 2rem;
    box-shadow: 0 0 20px 0 rgb(0, 0, 0);
    background-color: #efefef;
}

label {
    display: block;
    padding-top: 3%;
}


input,
textarea {
    width: 100%;
    padding: 1%;
    margin-top: 1%;
    margin-bottom: 2%;
    box-sizing: border-box;
    background-color: #efefef;
}


input {
    border: none;
    border-bottom: 1px solid black;
}


.boton {
    background-color: #45a;
    max-width: 100%;
    color: white;
    padding: 1% 46.5%;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}


.form-div1 {
    display: flex;
    width: 100%;
    justify-content: space-between;
}


.form-div1 div {
    width: 45%;
}


.form-div2 {
    padding: 1rem;
}


.form-div2 h5 {
    text-align: center;
    padding-top: 1rem;
    font-weight: 500;
    font-size: 25px;

}


.div-check {
    padding-top: 1rem;
    display: flex;
    justify-content: center;
}


.div-check label,
input {
    margin: 0;
    padding: 0;
    font-size: 24px;
    font-weight: 300;
}


#wpp {
    height: 1.1rem;

}


#email-check {
    height: 1.1rem;
}


.wpp {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 10rem;
    margin-right: 2rem;
}


.email {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 4rem;
    margin-right: 2.5rem;
}


.contact-info {
    box-shadow: 0 0 20px 0 rgb(0, 0, 0);
    width: 110%;
    background-color: #efefef;
    font-size: 20px;
    height: 50%;
    padding: 1rem;
    margin-top: 1.2rem;
}

.contact-info ul,
.contact-info ul li {
    list-style: none;
    margin: 0;
    padding: 0.2rem;
}

.contact-info>ul>li>a {
    text-decoration: none;
    color: black;
    margin-left: .4rem;
}

.contact-info h5 {
    padding: 1rem;
    color: #45a;
}

.contact-info h4 {
    color: #45a;
}

footer {
    margin-top: 15rem;
}

.logos-footer {
    margin-top: 1.5rem;
}

@media only screen and (max-width: 1440px) {
    .titulo-form h1 {
        margin-left: 5.5rem;
    }
}

@media screen and (max-width : 1025px) {

    .titulo-form h1 {
        margin-left: 2.2rem;
    }



    .contact-info {
        font-size: 16px;
        height: 20rem;
        width: 25rem;
    }

    form {
        font-size: 17px;
        width: 30rem;

    }

    .boton {
        width: 100%;

    }


}

@media screen and (max-width : 431px) {
    .prueba {
        flex-direction: column;
        padding: 1rem;
    }

    #form {
        width: 100%;
    }

    .div-fondo2{
        display: none;
    }
    .div-fondo {
        margin-top: 70rem;
    }

    #btn-phone-aplicaciones {
        color: black;
        padding: 0;
        text-align: left;
    }

    .contact-info {
        margin: 0;
        margin-top: 2rem;
        padding: .4rem;
        width: 100%;
        max-width: 100%;
        font-size: 15px;
    }
}