@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
}

#section-discosflap {
    width: 100%;
    
}


.cont-arriba{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.texto-img {
    width: 100%;
    padding-left: 5rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    background-color: #e2e2e2;
    
}

.texto-img>p{
    width: 60%;
    font-size: 18px;
    
}

.titulo {
    border-top: 4px solid gray;
}

.titulo h1 {
    margin-left: 4.9%;
    margin-top: 1%;
    width: 90%;
}

.section-zirconio {
    width: 98%;
    display: flex;
    margin: 0 auto;
    padding-left: 4%;
}

.zirconio-container {
    width: 100%;
    display: flex;
}

.zirconio-container div {
    width: 30%;
}

.div-zirconio-img {
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.div-zirconio-nw {
    display: flex;
    height: 12rem;
}

.div-zirconio-nw>img {
    width: 100%;
}

.titulo-zirconio img {
    margin: 1rem;
}

.titulo-zirconio h2 {
    color:  #435698;
}

.titulo-zirconio p{
    padding-top: 1%;
    font-size: 18px;
    width: 70%;
}

.titulo-zirconio-phone h2 {
    color: #435698;
}

.img-zirconio {
    width: 7rem;   
}

.cuadro-zirconio {
    width: 30rem;
    margin-top: 2%;
}

.zirconio-img{
    width: 7rem;
}

.oscuro {
    margin-top: 2rem;
}

.claro {
    margin-top: 2rem;
}

.section-zirconio{
    margin-top: 5%;
}

.section-zirconio-phone {
    display: none;
}


@media only screen and (max-width: 1440px) {

    .texto-img>p {
        font-size: 17px;
        margin-left: 3rem;
    }

    .texto-img {
        padding: 1rem;
    }

    .cuadro-responsive {
        width: 23rem;
    }

    .discosflapnw-img {
        margin-left: 4rem;
    }

    .zirconio-img {
        width: 7rem;
    }

    .titulo-zirconio>p {
        font-size: 17px;
    }
    
    

}
@media screen and (max-width : 1025px){

    .texto-img p {
        margin-left: 2rem
    }


    .div-zirconio-img{
        margin-left: 4rem;
    }
}

@media screen and (max-width : 431px) {

    .texto-img {
        background-color: white;
    }


    .texto-img p {
        width: 100%;
        padding: 0;
        margin: 0;   
    }

    .section-zirconio{
        display: none;
    }
    
    .titulo-zirconio-phone  {
        margin-left: 1rem;
        max-width: 95%;
    }

    .titulo-zirconio-phone>p {
        width: 95%;
    }

    .titulo-zirconio-phone>h2{
        margin-top: 1rem;
        color: #435698;
        width: max-content;
    }

    .zirconio-img{
        width: 20%;
    }

    .div-zirconio-img-phone{
        margin-left: 1rem;
    }

    .img-zirconio{
        width: 20%;
        margin-left: 5rem;
    }

    .cuadro-zirconio-conteiner-phone{
        margin-top: 2rem;
        padding: .4rem;
    }

    .section-zirconio-phone {
        display: block;
        margin-top: 3rem;
    }

    .zirconio-img-flap{
        width: 16rem;
    }

    .amoladora-phone {
        margin-left: .8rem;
        width: 20%;
    }

}