@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

section {
    width: 100%;
    max-width: 100%;
    font-family: "Roboto", sans-serif;
}

.section-zirconio-phone {
    margin-top: 4rem;
}

.titulo {
    border-top: 4px solid gray;
    width: 98%;
    max-width: 98%;
}

.titulo>h1 {
    font-size: 29px;
    width: 100%;
    max-width: 100%;
    margin-top: 1rem;
    padding-left: 1rem;
}

.texto-img {
    width: 100%;
    max-width: 100%;
}

.texto-img>p {
    font-size: 17px;
    padding: 1rem;
    width: 100%;
    
}

.titulo-zirconio-phone {
    width: 100%;
    max-width: 100%;
}

.titulo-zirconio-phone>h2{
    width: 100%;
    max-width: 100%;
    padding-left: 1rem;
    color:  #435698;
}

.titulo-zirconio-phone>p{
    padding: 1rem;
    width: 98%;
    max-width: 98%;
}

.div-zirconio-img-phone {
    width: 100%;
    max-width: 100%;
    display: flex;
    justify-content: center;
}

.div-zirconio-img-phone>div {
    width: 60%;
}

.zirconio-img{
    width: 80%;
    margin-left: 1rem;
}

.img-zirconio{
    width: 40%;
    margin-left: 6rem;
}

.cuadro-zirconio{
    width: 80%;
    height: 20%;
}

.cuadro-zirconio-conteiner-phone{
    margin-top: 2rem;
    max-width: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
}

.section-zirconio{
    display: none;
}

.cuadro-nonwo-phone {
    width: 96%;
    max-width: 96%;
    margin-left: .9rem;
}

.cuadro-fibra-phone{
    width: 95%;
    max-width: 98%;
    margin-left: 0.7rem;
}

.cuadro-strip, 
.cuadro-unitized {
    width: 35%;
}

.zirconio-img-discos{
    width: 30%;
}

@media screen and (min-width : 1520px){

    .section-zirconio-phone {
        display: none;
    }

    .section-zirconio {
        display: flex;
        margin-top: 4rem;
    }

    .titulo>h1 {
        padding-left: 5rem;
        font-size: 40px;
        max-width: 100%;
    }

    .texto-img {
        background-color: #e2e2e2;
    }

    .texto-img>p {
        width: 50%;
        margin-left: 4rem;
        font-size: 18px;
    }

    .titulo-zirconio {
        width: 60%;
    }

    .titulo-zirconio>h2, p {
        margin-left: 4rem;
    }

    .titulo-zirconio>h2 {
        color: #435698;
    }

    .cuadro-zirconio{
        width: 48%;
        height: 100%;
        margin: 0;
    }

    .cuadro-sensitivo {
        width: 48%;
        height: 82%;
        margin: 0;
    }

    .cuadro-desbaste{
        width: 48%;
        height: 70%;
        margin: 0;
    }

    .div-zirconio-img {
        margin-left: 4rem;
        display: flex;
    }

    .div-zirconio-img {
        width: max-content;
        margin-top: 3rem;
    }

    .zirconio-img{
        width: 20%;
        margin-left: 3rem;
    }

    .sensitivo-img{
        width: 30%;
        margin-left: 3rem;
    }

    .img-zirconio{
        width: 7%;
    }

    .cuadro-zirconio-conteiner {
        display: flex;
        align-items: center;
    }

    .cuadro-fibra{
        width: 73%;
    }


    .cuadro-nonwo {
        width: 80%;
    }

    .cuadro-unitized {
        width: 17%;
        height: 28%;
        margin-left: 5.2rem;
    }

    .cuadro-strip {
        width: 17%;
        height: 35%;
        margin-left: 5.2rem;
    }

    .cuadro-strip-conteiner,
    .cuadro-unitized-conteiner {
        width: 100%;
        display: flex;
        align-items: center;
    }

    .zirconio-img-discos{
        width: 15%;
    }
}