@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.texto-bandas {
    margin-top: -1rem;
}

.section-nonw-phone{
    display: none;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
}

.section-bandas {
    width: 100%;
}

.cont-arriba {
    width: 100%;
    margin: 0 auto;
}

.texto-img {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #e2e2e2;
    height: 5rem;
}

.texto-img p {
    font-size: 18px;
}

.texto-img p {
    width: 40%;
}

.texto-img img {
    width: 35%;
}

.titulo {
    border-top: 4px solid gray;
}

.titulo h1 {
    margin-left: 4.9%;
    margin-top: 1%;
    width: 90%;
}

.section-nonw {
    width: 98%;
    display: flex;
    margin: 0 auto;
    padding-left: 4%;
    padding-top: 2%;
}

.section-lijas {
    width: 98%;
    display: flex;
    margin: 0 auto;
    padding-left: 4%;
    padding-top: 2%;
}

.titulo-bandas {
    width: 55%;
    display: flex;
    flex-direction: column;
    height: max-content;
}

.titulo-bandas h2 {
    color: #435698;
}

.titulo-bandas p {
    padding-top: 1%;
    font-size: 18px;
    width: 70%;
}

.div-img-maquinas {
    width: 40%;
    margin-top: 1%;
    display: flex;
    justify-content: space-between;
}

.img-maquinas {
    width: 7rem;
}

.satinadora-div-img {
    width: 38%;
    display: flex;
    align-items: center;

}

.satinadora-div-img img {
    box-shadow: 0 0 20px 0 black;
}

.limpiador-img {
    width: 65%;
}

.limpiador-img1 {
    width: 40%;
    height: 90%;
}

.section-cuadros {
    width: 100%;
}

.container-cuadros {
    width: 100%;
    margin-top: 7rem;
    
}

.cuadroNW {
    width: 26rem;
}

.cuadroNW2 {
    width: 25rem;
}

.section-bandas2 {
    margin-top: 4%;
    border-top: 1px solid gray;
}

.titulo-lija {
    margin-left: 4.9%;
    margin-top: 1%;
    width: 90%;
}

.container-cuadros-combinados {
    padding-top: 2%;
}

.container-cuadros-combinados p {
    margin-left: 5.4%;
    padding-top: 2%;
    color: gray;
    font-weight: 100;
}

.cuadro-combinado {
    margin-left: 5%;
    margin-right: 3.3%;
}

.div-img-multichem {
    width: 20%;
}


.img-cuadro-multichem {
    width: 25rem;
    margin-top: 2rem;
}

.section-lijas-phone {
    display: none;
}

@media only screen and (max-width : 1440px) {

    .titulo-bandas p {
        font-size: 17px;
    }

    .cuadroNW {
        width: 22rem;
    }

    .img-cuadro-multichem {
        width: 22rem;
    }

    .limpiador-img {
        width: 8rem;
        height: 15rem;
    }

    footer {
        font-size: 14px;
        height: 10rem;
        padding: 0;
    }


}

@media screen and (max-width : 1025px) {

    .satinadora-div-img {
        width: 50%;
    }

    .titulo-bandas {
        width: 70%;
    }

    .titulo-bandas>p {
        width: 90%;
    }


    .limpiador-img {
        margin-right: 8rem;
        width: 25rem;
        height: 13rem;
    }
}


@media screen and (max-width : 431px) {

    .section-lijas-phone {
        flex-direction: column;
        width: 100%;
        align-items: center;
    }

    .section-lijas-phone {
        display: flex;
        padding: 1rem;
    }

    .section-nonw {
        display: none;
    }

    .section-nonw-phone {
        display: block;
        padding: 1rem;
    }

    .section-lijas {
        display: none;
    }

    .titulo-bandas {
        width: 100%;
    }

    .limpiador-img1 {
        width: 10rem;
        height: 90%;
        margin: .5rem;
    }

    .limpiador-img {
        width: 40%;
        height: 40%;
        margin: 0;
    }

    .img-cuadro-multichem {
        width: 100%;
    }

    .div-img-multichem {
        width: 100%;
        max-width: 100%;
        margin-top: 1.5rem;
    }

    .cuadroNW {
        width: 100%;
        max-width: 100%;
        margin: 0;
        margin-top: 2rem;
    }

    .prueba {
        display: flex;
        width: 100%;
        max-width: 100%;
    }

    .satinadora-div-img {
        width: 100%;
    }

    .container-cuadros{
        margin: 0;
    }
}