@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');




* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
}

#section-rodillos {
    width: 100%;
    max-width: 100%;
}

.cont-arriba {
    width: 100%;
    margin: 0 auto;
}

.texto-img-gris {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #e2e2e2;
}

.texto-img-gris>p {
    font-size: 18px;
    width: 40%;
    margin-right: 11rem;
}

.texto-img-gris>img {
    width: 20%;
    margin-right: 12rem;
}

.img-gris-phone {
    display: none;
}

.titulo {
    border-top: 4px solid gray;
}

.titulo>h1 {
    margin-left: 4.4%;
    margin-top: 1%;
    width: 90%;
}

#section-vellon {
    width: 98%;
    max-width: 100%;
    display: flex;
    margin: 0 auto;
    padding-left: 4%;
    padding-top: 2%;
}

.section-vellon-phone {
    display: none;
}

.titulo-vellon {
    width: 60%;
    display: flex;
    flex-direction: column;
}

.titulo-vellon>h2 {
    color: #435698;
}

.titulo-vellon>p {
    padding-top: 1%;
    font-size: 18px;
    width: 70%;
}

.div-img-vellon-maquinas {
    width: 40%;
    margin-top: 1%;
    display: flex;
    justify-content: space-between;
}

.img-maquinas {
    width: 7rem;
}


.derecha-img {
    width: 25%;
    margin-top: 4rem;
    margin-right: 10rem;
    box-shadow: 0 0 20px 0 black;
}

.satinadora-img {
    background-color: black;
    width: 25%;
    margin-top: 4rem;
    margin-right: 10rem;
    box-shadow: 0 0 28px 0 black;
}

.satinadora-img2 {
    background-color: black;
    width: 25%;
    margin-top: 4rem;
    margin-right: 10rem;
    box-shadow: 0 0 28px 0 black;
}


.container-cuadros {
    width: 100%;
    max-width: 100%;
    padding-top: 2%;
    display: flex;
}

.cuadroNW {
    height: 13rem;
    margin-right: 4%;
    margin-left: 5%;
}

.cuadroNW2 {
    height: 13rem;
}

.container-cuadros-lijas {
    width: 100%;
    max-width: 100%;
    padding-top: 2%;
    display: flex;
}

.cuadro-lija1 {
    height: 13rem;
    margin-right: 4%;
    margin-left: 5%;
}


.cuadro-lija2 {
    height: 13rem;
}

#section-rodillos2 {
    margin-top: 4%;
    border-top: 1px solid gray;
}


.container-cuadros-combinados {
    padding-top: 2%;
}

.container-cuadros-combinados>p {
    margin-left: 5.4%;
    padding-top: 2%;
    color: gray;
    font-weight: 100;
}

.cuadro-combinados {
    height: 13rem;
    margin-right: 4%;
    margin-left: 5%;
}

.cuadro-combinados2 {
    height: 13rem;
}

.container-cuadros-fieltros {
    width: 100%;
    max-width: 100%;
    padding-top: 2%;
    display: flex;
}

.cuadro-fieltro {
    height: 13rem;
    margin-right: 4%;
    margin-left: 5%;
}

.cuadro-fieltro2 {
    height: 13rem;
}

@media only screen and (max-width: 1440px) {
    .titulo h1 {
        margin-left: 4rem;
    }

    .texto-img-gris {
        padding-left: 2rem;
    }

    .texto-img-gris>p {
        font-size: 17px;
        width: 50%;
        margin-right: 5rem;
    }

    .cuadroNW {
        width: 43%;
        height: 11rem;
    }

    .cuadroNW2 {
        width: 43%;
        height: 11rem;
    }

    .derecha-img {
        width: 28%;
        height: 16rem;
        margin-top: 1rem;
        margin-bottom: 2rem;
    }

    .satinadora-img {
        width: 30%;
    }

    .cuadro-lija1 {
        width: 40%;
        height: 11rem;
    }

    .cuadro-lija2 {
        width: 40%;
        height: 11rem;
    }

    .cuadro-combinados {
        height: 11rem;
    }

    .cuadro-combinados2 {
        height: 11rem;
    }

    .cuadro-fieltro {
        height: 11rem;
    }

    .cuadro-fieltro2 {
        height: 11rem;
    }

}

@media screen and (max-width : 1025px) {

    .titulo h1 {
        margin-left: 3rem;
    }

    .texto-img-gris p {
        margin-left: 1rem;
        width: 65%;
    }

    .texto-img-gris img {
        margin-right: 5rem;
    }

    .img-maquinas {
        width: 6rem;
    }

    .derecha-img {
        width: 35%;
        height: 14rem;
        margin: 0;
        margin-top: 6rem;
    }

    .satinadora-img {
        width: 35%;
        height: 30%;
        margin-right: 0;
    }

    .satinadora-img2 {
        width: 35%;
        margin-right: 0;
    }

    .container-cuadros-fieltro {
        margin-top: 3rem;
    }

    .cuadroNW {
        height: 10rem;
        width: 29rem;
        margin-right: 1rem;
    }

    .cuadroNW2 {
        height: 10rem;
        width: 29rem;
    }

    .cuadro-lija1,
    .cuadro-lija2 {
        height: 10rem;
        width: 27rem;
    }

}

@media screen and (max-width : 431px) {

    #section-vellon {
        display: none;
    }

    .section-vellon-phone {
        display: block;
    }

    .section-vellon-phone>div {
        padding: .5rem;
    }

    .section-vellon-phone>div>h2 {
        margin-top: 1rem;
        font-size: 21px;
        color: #435698;
    }

    .titulo>h1 {
        width: 100%;
        margin: 0;
        font-size: 26px;
        padding: .3rem;
    }

    .texto-img-gris {
        flex-direction: column;
        margin: 0;
        padding: 0;
    }

    .texto-img-gris>p {
        margin: 0;
        max-width: 98%;
        font-size: 15px;
        width: 98%;
        padding: .4rem;
        background-color: white;
    }

    .texto-img-gris>div {
        width: 100%;
        max-width: 100%;
        background-color: #b6b6b6;
        display: flex;
        justify-content: center;
    }

    .img-gris-phone>img {
        display: block;
        width: 16rem;
        margin: 0;
        padding: 0;
    }

    .texto-img-gris>img {
        display: none;
    }

    #section-vellon {
        flex-direction: column;
    }

    .derecha-img-phone {
        width: 18rem;
        height: 14rem;
        padding: .5rem;
    }

    .derecha-img-phone-lija {
        width: 18rem;
        height: 12rem;
        padding: .5rem;
    }

    .container-cuadros, 
    .container-cuadros-lijas, 
    .container-cuadros-combinados,
    .container-cuadros-fieltro {
        flex-direction: column;
        width: 100%;
        max-width: 100%;
        padding: .2rem;
    }

    .cuadroNW, .cuadroNW2 {
        width: 100%;
        margin: 0 auto;
        height: 9rem;
        margin-top: .8rem;
    }
    
    .div-img-maquinas-phone-lijas{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }

    .cuadro-lija1, .cuadro-lija2 {
        margin: 0 auto;
        width: 100%;
        margin-top:.8rem;
    }

    .cuadro-combinados, 
    .cuadro-combinados2,
    .cuadro-fieltro, 
    .cuadro-fieltro2 {
        margin: 0 auto;
        width: 15rem;
        margin-top:.8rem;
        height: 11rem;
        margin-left: 1.2rem;
    }

    .img-maquinas-phone {
        width: 5rem;
    }

    .img-contenedor-maquinas-phone {
        display: flex;
        flex-direction: column;
    }

    .div-img-maquinas-phone {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-around;
        align-items: center;
        max-width: 100%;
        padding: 1rem;
    }

    

}