@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
}

#section-ruedas {
    width: 100%;
}

.section-nonw-phone {
    display: none;
}


.cont-arriba {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.texto-img {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #e2e2e2;
    padding: 1rem;
}

.texto-img>img {
    width: 20%;
    margin-right: 15rem;
}

.img-gris-phone {
    display: none;
}

.texto-img>p {
    width: 40%;
    font-size: 18px;
    margin-right: 10rem;
}

.titulo {
    border-top: 4px solid gray;
}

.titulo h1 {
    margin-left: 4.9%;
    margin-top: 1%;
    width: 90%;
}

.section-nonw {
    width: 98%;
    display: flex;
    margin: 0 auto;
    padding-left: 4%;
    padding-top: 2%;
}

.titulo-nw {
    width: 60%;
    display: flex;
    flex-direction: column;

}

.titulo-nw h2 {
    color: #435698;
}

.titulo-nw p {
    padding-top: 1%;
    font-size: 18px;
    width: 70%;
}

.div-img-maquinas {
    width: 40%;
    margin-top: 1%;
    display: flex;
}

.img-maquinas {
    width: 9rem;
}

.img-maquinas2 {
    width: 9rem;
    margin-left: 5rem;
}

.tripa {
    width: 10rem;
    margin-top: 2rem;
    margin-left: 2rem;
}

.satinadora-img {
    width: 25%;
    padding-top: 1%;
}

.satinadora-img2 {
    width: 25%;
    margin-top: 1%;
    height: 16%;
    box-shadow: 0 0 20px 0 black;
}

.section-cuadros {
    width: 100%;
}


.m14>h2 {
    margin-left: 5rem;
    margin-top: 4rem;
    color: #435698;

}

.m14>p,
.m14>img {
    margin-left: 5rem;
}

.ruedam14-img {
    width: 30%;
}

.container-cuadros {
    width: 100%;
    padding-top: 2%;
    display: flex;
}

.cuadroNW {
    height: 13rem;
    margin-right: 4%;
    margin-left: 5%;
}

.cuadroNW2 {
    height: 13rem;
}

.cuadroNW3 {
    height: 9rem;
    margin-right: 4%;
    margin-left: 5%;
}

.section-ruedas2 {
    margin-top: 4%;
    border-top: 1px solid gray;
}

.titulo-lija {
    margin-left: 4.9%;
    margin-top: 1%;
    width: 90%;
}

.container-cuadros-combinados {
    padding-top: 2%;
}

.parrafo-gris {
    margin-left: 6.4rem;
    padding-top: 2%;
    color: gray;
    font-weight: 400;
}

.cuadro-combinado {
    margin-left: 5%;
    margin-right: 3.3%;
}


.ruedaconperno {
    margin-top: 4rem;
    border-top: 4px solid gray;
    width: 100%;
}

.perno-container {
    display: flex;
    width: 100%;

}

.perno-container>div>p {
    width: 100%;
    background-color: #e2e2e2;
    padding-left: 5rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.perno-container>div>.img-maquinas {
    margin-left: 5rem;
}

.perno-container>div {
    width: 100%;
}

.ruedaconperno h2 {
    margin-left: 5rem;
    margin-top: 2rem;
    font-size: 38px;
}

.tituloh5 {
    margin-top: 2%;
    margin-bottom: 1%;
    margin-left: 5rem;
}

.tituloh5bis {
    margin-top: 2%;
    margin-bottom: 1%;
    margin-left: 5rem;
}

.tituloh5bis>h3 {
    color: #435698;
    margin-top: 4rem;
}

.tituloh5>h3 {
    color: #435698;
    margin-top: 4rem;
}

.ruedaconpernoimg1,
.ruedaconpernoimg2 {
    margin-left: 5rem;
}

.foto-ruedaconperno {
    width: 30%;
}

.miniflex {
    margin-top: 2rem;
}

.miniflex>h5 {
    margin-left: 5rem;
    padding-top: 4rem;
}

.miniflex-img {
    margin-left: 4rem;
}

.ruedam14foto {
    width: 15%;
}

.rueda-c-perno {
    width: 21rem;
}

.rueda-c-perno2 {
    width: 16rem;
    margin-right: 6rem;
}

.imagenx3 {
    display: flex;
    align-items: center;
}

.imagenx3>img {
    width: 20rem;
    height: 20rem;
}

.img-maquinas3 {
    width: 9rem;
}

.container-cuadros-lija {
    width: 100%;
    padding-top: 2%;
    display: flex;
}

.container-cuadros-flap {
    width: 100%;
    padding-top: 2%;
    display: flex;
}

.cuadro-flap {
    height: 13rem;
    margin-right: 4%;
    margin-left: 5%;
}

.cuadro-lija {
    height: 13rem;
    margin-right: 4%;
    margin-left: 5%;
}

.cuadro-combinado {
    height: 13rem;
    margin-right: 4%;
    margin-left: 5%;
}


.cuadro-combinado2 {
    height: 13rem;
}




@media only screen and (max-width: 1440px) {

    .texto-img>p {
        margin-left: 3.2rem;
        width: 75%;
        font-size: 17px;
    }

    .titulo h1 {
        margin-left: 4.2rem;
    }

    .satinadora-img2 {
        height: 14rem;
        margin-top: 2rem;
    }

    .cuadroNW {
        width: 40%;
        height: 10rem;
    }

    .cuadroNW2 {
        width: 40%;
        height: 10rem;
    }

    .img-maquinas {
        width: 7rem;
    }

    .imagenx3>img {
        width: 15rem;
        height: 15rem;
    }

    .cuadro-lija {
        width: 22rem;
        height: 10rem;
    }

    .cuadro-flap {
        width: 29rem;
        height: 11rem;
    }


    .ruedam14foto {
        width: 10rem;
        height: 12rem;
    }

    .cuadro-perno1 {
        width: 27rem;
    }

    .cuadro-perno2 {
        width: 26rem;
        height: 10rem;
    }

    .rueda-c-perno {
        width: 16rem;
        margin-left: 2rem;
    }

    .rueda-c-perno2 {
        margin: 0;
        width: 12rem;
        margin-left: 4rem
    }

    .cuadroNW3 {
        width: 30rem;
        height: 7rem;
    }

    .titulo-nw>p {
        font-size: 17px;
    }

    .cuadro-combinado {
        width: 15rem;
        height: 11rem;
    }

    .cuadro-combinado2 {
        width: 15rem;
        height: 11rem;
    }


}




@media only screen and (max-width: 1281px) {

    .satinadora-img2 {
        width: 30%;

    }

}

@media only screen and (max-width: 1025px) {

    .satinadora-img2 {
        width: 40%;
        margin-right: 5rem;
    }

    .titulo>h1 {
        margin: 0;
        margin-left: 2.6rem;
        padding: .4rem;
    }

    .texto-img>p {
        font-size: 16px;
        width: 70%;
        margin: 0;
        margin-left: 2.2rem;
    }

    .texto-img>img {
        margin: 0;
        margin-right: 4rem;
        margin-left: 1rem;
        width: 14rem;

    }

    .cuadroNW,
    .cuadroNW2 {
        width: 45%;
    }


    .cuadro-perno1 {
        width: 40.5%;

    }

    .cuadro-perno2 {
        display: block;
        margin-left: 3.2rem;

    }

    .titulo-nw>p {
        width: 90%;
    }

    .tituloh5 {
        margin-left: 3.2rem;
    }

    .tituloh5bis {
        margin-left: 3.2rem;
    }

    .rueda-c-perno {
        margin-left: 40rem;
        margin-top: -20rem;
    }

    .rueda-c-perno2 {
        margin: 0;
    }

}

@media screen and (max-width : 431px) {

    .titulo h1 {
        margin: 0;
        margin-left: .4rem;
        margin-top: 1rem;
        padding: 0;
    }


    .texto-img {
        flex-direction: column;
        padding: 0;
        background-color: white;
    }

    .texto-img>p {
        margin: 0;
        padding: 0;
        width: 100%;
        padding: .6rem;
    }

    .texto-img>img {
        display: none;
    }

    .img-gris-phone {
        display: flex;
        justify-content: center;
        background-color: #b6b6b6;
        width: 100%;
        margin: 0;
        padding: 0;
    }

    .img-gris-phone>img {
        width: 16rem;
    }



    .section-nonw {
        display: none;
    }

    .section-nonw-phone {
        display: block;
    }

    .titulo-nw-phone>h2 {
        margin-top: 1rem;
        margin-left: .6rem;
        color: #435698;
    }

    .titulo-nw-phone>p {
        margin: 0;
        margin-left: .6rem;
        padding: 0;
    }

    .titulo-nw-phone {
        display: flex;
        flex-direction: column;
    }

    .div-img-maquinas-phone>div {
        display: flex;
        flex-direction: column;
    }

    .div-img-maquinas-phone>img {
        margin: 0;
        padding: 0;
        height: 10rem;
        width: 14rem;
    }

    .div-img-maquinas-phone,
    .div-img-maquinas-phone-lija,
    .div-img-maquinas-phone-m14,
    .div-img-maquinas-phone-combinada {
        display: flex;
        justify-content: space-around;
        width: 100%;
        margin-top: 1.5rem;
        align-items: center;
    }

    .img-maquinas-phone {
        width: 6rem;
    }

    .container-cuadros {
        flex-direction: column;
        width: 100%;
        max-width: 100%;
    }

    .cuadroNW,
    .cuadroNW2 {
        margin: 0 auto;
        margin-top: 1rem;
        padding: .5rem;
        width: 100%;
        height: 9rem;
    }

    .div-img-maquinas-phone-lija {
        flex-direction: row-reverse;
    }

    .div-img-maquinas-phone-lija>div {
        display: flex;
        flex-direction: column;
    }

    .div-img-maquinas-phone-lija>img {
        margin: 0;
        padding: 0;
        height: 10rem;
        width: 10rem;
        box-shadow: 0 0 0 0;
    }

    .parrafo-gris {
        margin-left: 1.3rem;
    }


    .ruedaconperno,
    .miniflex {
        display: none;
    }


    .m14-img-phone {
        width: 8rem;
    }

    .cuadro-flap {
        margin: 0 auto;
        padding: 0;
        width: 96%;
    }

    .div-img-maquinas-phone-combinada {
        flex-direction: row-reverse;
    }

    .div-img-maquinas-phone-combinada>div {
        display: flex;
        flex-direction: column;
    }

    .combinada-img-phone {
        height: 10rem;
        width: 15rem;
        margin-left: .1rem;
    }


    .cuadro-combinado, 
    .cuadro-combinado2 {
        margin: 0;
        margin-top: 1rem;
        margin-left: 1rem;
        padding: 0;
        
    }

}