@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@import url("https://use.typekit.net/yzl5eky.css");

body {
    font-family: "Roboto", sans-serif;
}

.perno-container>div {
    border-top: 2px solid gray;
    margin-top: .5rem;
    
}

.perno-container>div>h2 {
    margin-left: .6rem;
    margin-top: .5rem;
}


.conteiner-texto p{
    width: 98%;
    padding-left: .6rem;
}


.container-imgs-perno {
    display: flex;
    justify-content: space-around;
    width: 100%;
    align-items: center;
    overflow: hidden;
}

.container-imgs-perno>div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 30%;
}

.img-maquinas,
.img-maquinas3 {
    width: 100%
}

.rueda-c-perno {
    width: 75%;
    height: 100%;
}


.rueda-c-perno2-der {
    width: 11rem;
    height: 7rem;
}

.rueda-c-perno2 {
    width: 10rem;
    height: 7rem;
}

.cuadros-c-perno {
    width: 100%;
    max-width: 100%;
}


.cuadro-perno1, 
.cuadro-perno2{
    width: 100%;
    margin-top: 1rem;
    padding: .5rem;
}

.cuadroNW3 {
    width: 100%;
    margin: 0 auto;
    margin-top: 3rem;
    padding: .2rem;
}

.tituloh5>h3{
    margin-left: .3rem;
    margin-top: 1rem;
    color: #435698;
}

.tituloh5bis>h3 {
    margin-left: .3rem;
    margin-top: 2rem;
    color: #435698;
}

.ruedas-lija-phone {
    display: flex;
    justify-content: space-around;
    margin-top: 2rem;
    margin-bottom: 1rem;
    width: 100%;
}

.ruedaconperno-desktop {
    display: none;
}

.miniflex-desktop {
    display: none;
}

.cuadroNW5{
    width: 90%;
    height: 70%;
    
}

.rueda-c-perno-fieltro{
    width: 55%;
    margin-bottom: 1rem;
    margin-left: 5.5rem;
}

.ruedas-fieltro-phone{
    width: 100%;
    display: flex;
    padding: .5rem;
    flex-direction: column-reverse;
}




@media screen and (min-width : 1520px){
   
    .ruedaconperno,
    .miniflex {
        display: none;
    }

    .ruedaconperno-desktop, .miniflex-desktop {
        display: block;
    }

    .perno-container>div>h2 {
        margin-left: 3.8rem;
    }

    .conteiner-texto{
        background-color: #e2e2e2;
    }

    .conteiner-texto p{
        width: 50%;
        padding: 0;
        margin-left: 4rem;
        padding-top: 1rem;
        padding-bottom: 1rem;
    }

    .tituloh5>h3 {
        margin-left: 3.8rem;
    }

    

    .cuadroNW {
        margin-left: 3.8rem;
    }

    .cuadroNW,
    .cuadroNW2,
    .cuadroNW3{
        width: 35%;
    }

    .tituloh5bis>h3 {
        margin-left: 3.8rem;
    }

    .cuadroNW3 {
        margin-left: 3.8rem;
        width: 38%;
    }

    .container-imgs-perno {
        justify-content: flex-start;
    }

    .container-imgs-perno>div {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
    }

    .rueda-c-perno {
        width: 20%;
        height: 100%;
        margin-top: 1.4rem;
        padding: .5rem;
    }

    .cuadros-c-perno {
        display: flex;
        align-items: center;
    }

    .img-maquinas {
        margin-left: 3.8rem;
    }

    .img-maquinas,
    .img-maquinas3{
        width: 20%;
    }

    .rueda-c-perno2-der,
    .rueda-c-perno2 {
        height: 100%;
        width: 16%;
        margin-left: 3rem;
    }

    .ruedas-lija-phone {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 85%;
    }

    .cuadroNW4 {
        width: 35%;
        margin-left: 5rem;
    }

    .rueda-c-perno-fieltro {
        width: 18%;
        margin-left: 8rem;
    }
    
}

