@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
}

#section-ruedas {
    width: 100%;
}

.cont-arriba {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.texto-img {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #e2e2e2;
    padding: 1rem;
}

.texto-img>img {
    width: 15%;
    margin-right: 15rem;
}

.texto-img>p {
    width: 40%;
    font-size: 18px;
    margin-right: 10rem;
}

.titulo {
    border-top: 4px solid gray;
}

.titulo h1 {
    margin-left: 4.9%;
    margin-top: 1%;
    width: 90%;
}

.section-nonw {
    width: 98%;
    display: flex;
    margin: 0 auto;
    padding-left: 4%;
    padding-top: 2%;
    margin-top: 2%;
}

.titulo-nw {
    width: 80%;
    display: flex;
    flex-direction: column;
    height: max-content;
}

.titulo-nw h2 {
    color: #435698;
}

.titulo-nw p {
    padding-top: 1%;
    font-size: 18px;
    width: 70%;
    margin: 0;
}

.titulo-nw>article>div {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.titulo-nw>article {
    display: flex;
    width: 100%;
    align-items: center;
}

.pasos {
    width: 15rem;
    margin: 2rem;
}

.img-tintas {
    width: 4rem;
    height: 9rem;
    margin-left: 1rem;
}

.cuadro-paño {
    width: 30rem;
    height: 15rem;
    margin-top: 1%;
}

.div-img-maquinas {
    width: 40%;
    margin-top: 1%;
    display: flex;
    justify-content: space-between;
}

.img-maquinas {
    width: 9rem;
}

.tripa {
    width: 10rem;
    margin-top: 2rem;
    margin-left: 2rem;
}

.satinadora-img {
    width: 25%;
    margin-top: 1rem;
    box-shadow: 0 0 20px 0 black;
}

.section-cuadros {
    width: 100%;
}

.section-cuadros>p {
    color: gray;
    margin-left: 5rem;
}

.m14>h5 {
    margin-left: 5rem;
    margin-top: 4rem;
}

.m14>p,
.m14>img {
    margin-left: 5rem;
}

.ruedam14-img {
    width: 30%;
    padding-left: 20rem;


}

.container-cuadros {
    width: 100%;
    padding-top: 2%;
    display: flex;
}

.cuadroNW {
    margin-right: 4%;
    margin-left: 5%;
}

.section-ruedas2 {
    margin-top: 4%;
    border-top: 1px solid gray;
}

.titulo-lija {
    margin-left: 4.9%;
    margin-top: 1%;
    width: 90%;
}

.container-cuadros-combinados {
    padding-top: 2%;
}

.container-cuadros-combinados p {
    margin-left: 5.4%;
    padding-top: 2%;
    color: gray;
    font-weight: 100;
}

.cuadro-combinado {
    margin-left: 5%;
    margin-right: 3.3%;
}


.ruedaconperno {
    margin-top: 4rem;
    border-top: 4px solid gray;
    width: 100%;
}

.perno-container {
    display: flex;
    margin-left: 5rem;
    margin-top: 5rem;
}

.perno-container>div {
    width: 50%;
}

.ruedaconperno h3 {
    color: #435698;
}



.tituloh5 {
    margin-top: 2%;
    margin-bottom: 1%;
    margin-left: 5rem;
}

.ruedaconpernoimg1,
.ruedaconpernoimg2 {
    margin-left: 5rem;

}

.foto-ruedaconperno {
    width: 12%;
}

.miniflex>h5 {
    margin-left: 5rem;
    margin-top: 4rem;
}

.miniflex-img {
    margin-top: 1rem;
    margin-left: 4rem;
}

.section-nonw {
    background-color: #ececec;
}

.cuadro-tintas {
    width: 30rem;
}

.img-gris-phone {
    display: none;
}

.div-img-pasos-phone {
    display: none;
}

@media only screen and (max-width : 1440px) {

    .texto-img>p {
        font-size: 17px;
        width: 70%;
        margin-left: 3.5rem;
    }

    .titulo-nw>article>div>p {
        font-size: 17px;
    }

    .titulo-nw>article>.pasos {
        width: 11rem;
    }
}

@media screen and (max-width : 1025px) {

    .texto-img p {
        margin-left: 2.5rem;

    }

    .texto-img>img {
        margin-right: 7rem;
        height: 11rem;
        width: 10rem;
    }

    .titulo-nw>article>div {
        width: 100%;
    }

    .titulo-nw>article>div>p {
        width: 95%;
    }

}

@media screen and (max-width : 431px) {

    .titulo>h1 {
        margin: 0;
        margin-left: .7rem;
        margin-top: 1rem;
    }

    .section-nonw {
        padding: 0;
    }

    .texto-img {
        display: flex;
        flex-direction: column;
        background-color: white;
        padding: 0;
    }

    .texto-img>p {
        margin: 0;
        padding: 1rem;
        width: 100%;
    }

    .texto-img>img {
        display: none;
    }

    .img-gris-phone {
        display: flex;
        justify-content: center;
        width: 100%;
        background-color: #b6b6b6;
    }

    .img-gris-phone>img {
        margin: 0;
        margin-top: 1rem;
        width: 11rem;
        height: 11rem;
    }

    .titulo-nw {
        width: 100%;
    }

    .titulo-nw>article {
        flex-direction: column;
        margin-top: 1rem;
    }

    .titulo-nw>article>img {
        display: none;
    }

    .titulo-nw>article>div>p {
        width: 100%;
    }

    .titulo-nw>article>span {
        display: none;
    }

    .pasos {
        margin: 0;
        padding: 0;
        width: 10rem;
    }

    .img-tintas {
        margin: 0;
        padding: 0;
        width: 3rem;
    }

    .div-img-pasos-phone{
        display: flex;
        width: 100%;
        justify-content: space-around;
        margin-top: 1rem;
    }

    .cuadro-tintas {
        width: 100%;
        max-width: 100%;
        margin: 0;
    }
}